//*Einbettung font*/
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

/*html*/
html {
	font-family:Helvetica, Arial, sans-serif;
	font-size: 1em;
	color:#264269;
	}
/*body*/
body {
	margin: 2%;
	}


/*Navigation Header*/
#nav-header {
	font-family: Helvetica, Arial, sans-serif;
	font-size:1.4em;
	color:#264269;
	list-style-type:none;
	text-decoration:none;
	padding:0.5em 5em 0.5em 5em;
	word-spacing: 3em;
	display: block;
	position:fixed;
	background-color:#DBDBDB;
	width: 100%;
	z-index: 1000;
	}
header nav li {
	display:inline-block;
}

header nav li:hover{
	text-decoration:underline;
	}
/*Main*/

h1 {
	color:#B40486;
	font-size:1em;
	letter-spacing:0.3em;
	font-family:Helvetica, Arial, sans-serif;
}

main {
	background-color: #0431B4;
	margin: 4%;
}
	
